*.swp
gradlew.bat
.DS_Store
/target
/.idea/dictionaries/
/.idea/libraries
/.idea/modules
/.idea/modules.xml
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/uiDesigner.xml
/.gradle/
/build/
/bin


